{% extends 'base/index.html' %}

{% block content %}

    <section class="content">
        <div class="welcome">
            <h1>Welcome to the Interview Management System</h1>
            <p>Manage your interviews efficiently.</p>
        </div>
        <div class="features">
            <img src="https://www.ismartrecruit.com/assets/frontend/images/home/banner-image.webp">
        </div>
    </section>
   <footer>
        <div class="aoi-documentation">
            <a href="{% url 'docs' %}"> API Documentation </a>
        </div>
        <div class="footer-links">
            <a href="{% url 'about' %}">About</a>
        </div>
</footer>

{% endblock %}