/* Style the candidate list container */

.candidate-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style the candidate list header */
.candidate-list h2 {
    font-size: 24px;
    color: #333;
}

/* Style the candidate list items */
.candidate-list ul {
    list-style-type: none;
    padding: 0;
}

.candidate-list li {
    font-size: 18px;
    margin: 5px 0;
    color: #666;
}

/* Hover effect for list items */
.candidate-list li:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

/* styles.css */

.add-candidate-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.add-candidate-container h2 {
    font-size: 24px;
    color: #333;
}

.add-candidate-container form {
    margin-top: 10px;
}

.add-candidate-container form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.add-candidate-container form input[type="text"],
.add-candidate-container form input[type="email"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-candidate-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-candidate-container button:hover {
    background-color: #0056b3;
}


/* Style the table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
}

/* Style the table headers */
.table th {
    background-color: #f5f5f5;
    text-align: left;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

/* Style the table rows */
.table td {
    padding: 10px;
    border: 1px solid #e0e0e0;
}

/* Style the buttons */
.btn {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    background-color: #007BFF; /* Adjust button color */
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007BFF;
}

.btn-danger {
    background-color: #FF0000; /* Adjust button color */
}

/* Style the header */
h2 {
    margin-top: 20px;
    text-align: center;
}

/* Style the user feedback */
.user-feedback {
    margin-top: 10px;
}

/* Center the table on the page */
.candidate-list {
    display: flex;
    justify-content: center;
}
