{% extends 'base/index.html' %}

{% block content %}
<h2>Candidates List</h2>
<div class="candidate-list">

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Job Title</th>
                {% if request.user.is_authenticated %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.first_name }} {{ candidate.last_name }}</td>
                <td>{{ candidate.job.title }}</td>
                <td>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'add feedback' %}" class="btn btn-primary">Add Feedback</a>
                    <a href="{% url 'delete candidate' candidate.id %}" class="btn btn-danger">Delete Candidate</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
